*{
margin: 0;
padding: 0;


}

html,body{

    height: 100%;


}

body{
    color: white;
 
    background: rgb(35,115,153);
    background: linear-gradient(180deg, rgba(35,115,153,1) 40%, rgba(0,212,255,1) 100%);

}

.avatar{

    width: 200px;
    border-radius: 100px;
    border: 4px solid black;
    box-shadow:0px 0px 100px rgb(255, 0, 0);
}


h1{

    font-family: "Sour Gummy", sans-serif;
    letter-spacing: 2px;    
margin-bottom: 14px;
}

h2{ 

font-size: 30px;

}

.profile{

    text-align: center;
    margin-top: 20px;

}

.social{

    display: flex;
    justify-content: center;
        list-style: none;

}



.social img{

    width: 60px;


}

.link-list{

    list-style: none;
    

    
}

.link-list li{
margin: 10px 20px;


}

.link-list li a {
color: black;
background-color: white;
border-radius: 10px;
padding: 20px;  
display: block;
text-decoration: none;
color: rgb(0, 26, 255);
font-weight: bold;
font-size: large;
text-align: center;


}

.link-list li a span {

color: grey;
display: block;
margin-top:5px;


}